/restapi/stuff.db
/objectstore/stuff.db
.*\/stuff.db
/stuff.db
*.pyc
/authserver/mysession
/authserver/user.db
/authserver/myresponse
/authserver/logfile
/authserver/htmlcov/.*
/authserver/.coverage
/authserver/coverage_report.txt
/authserver/unittest_report.txt
/authserver/htmlcov/*
/ATTIC/*
/authserver/src/user.db
