img.coverart { height:48px; margin:0; padding:0; }

* { box-sizing: border-box; }

/* AltEditor overrides to prevent some read only cols from showing at all */

#alteditor-row-coverart, #alteditor-row-isamended, #alteditor-row-amended, #alteditor-row-isedited, #alteditor-row-edited { display:none !important; }
div.altEditor-modal div.form-group.row {margin-bottom:-1rem !important;}

@media only screen and (max-width: 600px) {

body        { width: 100%;  display: flex; flex-flow: row wrap; margin:0px;}
.title      { flex: 1 1 100%; font-size:30px; font-weight:bold; text-align: center;}
.title svg  { width:32px; margin-left:8px; margin-top:8px; margin-bottom:-4px;}
.footer     {flex: 1 1 100%; font-size:12px; text-align: center; padding-top:8px;}
}

@media only screen and (min-width: 601px) {

body        { max-width:960px; width: 100%;  display: flex; flex-flow: row wrap; margin:auto;}
.title      { flex: 1 1 100%; font-size:40px; font-weight:bold; text-align: center;}
.title svg  { width:32px; margin-left:8px; margin-top:8px; margin-bottom:-4px;}
.footer     {flex: 1 1 100%; font-size:14px; text-align: center; padding-top:8px; border-top:1px solid var(--base-color);}
}


/* general styling, fonts and colors ; no sizes or dimensions here except for border thickness */

*           { color:var(--base-color); background-color:var(--inverted-color);}

.title      { font-family: 'Roboto', sans-serif; }
.footer     { font-family: 'Roboto', sans-serif; }

svg         { fill:var(--base-color); }
/* it's 2020 and still we need to include browser specific hacks ... :-( */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--base-color);
  opacity: var(--placeholder-opacity);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--base-color);
  opacity: var(--placeholder-opacity);
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--base-color);
  opacity: var(--placeholder-opacity);
}


