img.coverart { height:48px; margin:0; padding:0; }

.title {font-size: 72px; font-weight:bold;}
.topbanner {background-color:black; height:40px; display: flex; align-items: center;}
.subtitle { font-size:24px; color:white; padding-left:0.5em; width:50%}

.login-container { width:80%; max-width:960px; margin: 0 auto;}
.subtitle, .content { clear:both; float:left;}
.content {width:60%}
.logo {width:100%}
form { float:right; width:100%}
form.loginform, form.forgottenpassword { width:80%; }
.strut {width:50%}
.loginform input, .forgottenpassword input { width:100px; float:right;}
.loginform button, .forgottenpassword button, #forgotbutton { float:right;}

.registrationform {width:40%; margin-top:40px;}
.signupbanner { background-color:black; width:100%; margin-bottom:10px;}
.signupbannertext { font-size:24px; color:white; padding-left:0.5em;}
.registrationform label { clear:both; float:left; padding-left:0.5em;}
.registrationform input { float:right; width:60%; }
.registrationform button { clear:both; float:left; width:100%;}
.callout {font-size:24px; width:100%; margin-bottom:10px;}
.footer { clear:both; float:left; padding-left:0.5em; border-top:1px solid black; width:100%;}
.footer a { color:black; }

#loginerror {color:white;}
#registrationerror { clear:both; float:left; width:100%; height:20px; }
div.error { font-size:12px;}
